/* Propiedades generales */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    margin-left: 0%;
    margin-right: 0%;
}
.cabecerasTitulo{
    text-align: center;
    font-size: 25px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: solid 3px lightblue;
    margin: 1.5% 15%;
    width: 70%;
}

/* Logo */
#logo{
    margin-left: 4.5%;
    margin-top: -3%;
    margin-right: 26%;
    float: left;
    vertical-align: middle;
    width: 10%;
    z-index: 20;
}

/* Menu horizontal */
nav{
    background-color: lightblue;
    margin-top: 4%;
    width: 100%;
}

.menu{
    position: relative;
    list-style: none;

}

.menu li{
    display: inline-block;
    background-color: lightblue;
    width: 15%;
}

.menu li a{
    display: block;
    padding: 10%;
    color: darkblue;
    text-decoration: none;
    text-align: center;
}

.menu li a:hover{
    background-color: darkblue;
    color: lightblue;
    font-weight: bold;
    transition: all 0.3s;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/* Submenu vertical */
.submenu{
    position: absolute;
    width: 12%;
    list-style: none;
    background-color: lightblue;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.submenu > li{
    display: block;
    width: 100%;
}

.submenu > li > a{
    display: block;
    width: 102%;
    margin-left: -22%;
    padding: 10%;
    color: darkblue;
    text-decoration: none;
    text-align: center;
}

.submenu li a:hover{
    margin-left: -22%;
    background-color: darkblue;
    color: lightblue;
    font-weight: bold;
}

/* Carrusel de imagenes */
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    width: 300%;
}

#carrusel-contenido {
    position: absolute;
    margin: 0.7% 12.5%;
    overflow: hidden;
    width: 75%;
}

.imagenes{
    width: 100%;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

/* Titulo */
main{
    width: 100%;
    position: absolute;
    align-items: center;
}
#titulo{
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-top: 28%;
    padding-left: 25%;
    width: 50%;
}

#titulo h2, h3{
    padding: 0%;
    margin: 0%;
}

table{
    text-align: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    border-spacing: 4em;
}
td{
    border-style: solid;
    border-color: lightblue;
    width: 200px;
    padding: 1em;
    border-spacing: 4em;
    border-radius: 20px;
}

/* Pie de pagina */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
}


#autores{
    float: left;
    margin-left: 2%;
    margin-top: 1%;
}

footer div p, h5{
    margin: 0%;
    padding: 0%;
}

#generalitat{
    text-align: right;
    margin-right: 2%;
}
/* cursos  */

  .accordion {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 60%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dedede;
    border-radius: 8px;
    margin:0 auto;
  }
  /*Contenedor común plegar/desplegar*/
  .accordion-toggle,
  .accordion-header{
    font-size: 15px;
    width: 100%;
    height: 3em;
    margin: 0;
    line-height: 3em;
    cursor: pointer;
  }
  /*El botón que pliega/despliega*/
  .accordion-toggle {
    opacity: 0;
    background-color: transparent;
    z-index: 1;
    margin-bottom: 2px;
  }
  /*Bloque para el título*/
  .accordion-header{
    background-color: lightblue;
    color: white;
    position: relative;
    margin-top: -3em;
    padding-left: 10px
  }
  
  /*Bloque replegable con el contenido */
  .accordion-content {
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #7f8787;
    overflow: auto;
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: -250px;
    padding: 20px;
    transition: margin 0.3s ease 0.1s;
    }
  .accordion-toggle:checked + .accordion-header + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
  }
  .accordion-header::before,
  .accordion-toggle:checked + .accordion-header::before {
    content: '+';
    display: inline-block;
    text-align: center;
    width: 1em;
    font-size: 1.em;
  }
  .accordion-toggle:checked + .accordion-header::before {
    content:'-';
  }
  
  .accordion-toggle:hover + .accordion-header{
    background-color: #f7f1f1;
  }
  .accordion-toggle:checked + .accordion-header {
    background-color: #fff;
  }