/* Propiedades generales */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    margin-left: 0%;
    margin-right: 0%;
}
.cabecerasTitulo{
    
    text-align: center;
    font-size: 25px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: solid 3px lightblue;
    margin: 1.5% 15%;
    width: 70%;
}


/* Logo */
#logo{
    margin-left: 4.5%;
    margin-top: -3%;
    margin-right: 26%;
    float: left;
    vertical-align: middle;
    width: 10%;
    z-index: 20;
}

/* Menu horizontal */
nav{
    background-color: lightblue;
    margin-top: 4%;
    width: 100%;
}

.menu{
    position: relative;
    list-style: none;

}

.menu li{
    display: inline-block;
    background-color: lightblue;
    width: 14.5%;
}

.menu li a{
    display: block;
    padding: 11%;
    color: darkblue;
    text-decoration: none;
    text-align: center;
}

.menu li a:hover{
    background-color: darkblue;
    color: lightblue;
    font-weight: bold;
    transition: all 0.3s;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/* Submenu vertical */
.submenu{
    position: absolute;
    width: 12%;
    list-style: none;
    background-color: lightblue;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.submenu > li{
    display: block;
    width: 100%;
}

.submenu > li > a{
    display: block;
    width: 102%;
    margin-left: -22%;
    padding: 10%;
    color: darkblue;
    text-decoration: none;
    text-align: center;
}

.submenu li a:hover{
    margin-left: -22%;
    background-color: darkblue;
    color: lightblue;
    font-weight: bold;
}

/* Carrusel de imagenes */
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    width: 300%;
}

#carrusel-contenido {
    position: absolute;
    margin: 0.7% 12.5%;
    overflow: hidden;
    width: 75%;
}

.imagenes{
    width: 100%;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

/* Titulo */
main{
    width: 100%;
    position: absolute;
    align-items: center;
}
#titulo{
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-top: 28%;
    padding-left: 25%;
    width: 50%;
}

#titulo h2, h3{
    padding: 0%;
    margin: 0%;
}

table.indexTabla{
    text-align: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    border-spacing: 4em;
}
.tdTabla{
    border-style: solid;
    border-color: lightblue;
    width: 200px;
    padding: 1em;
    border-spacing: 4em;
    border-radius: 20px;
}

/* Pie de pagina */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
}


#autores{
    float: left;
    margin-left: 2%;
    margin-top: 1%;
}

footer div p, h5{
    margin: 0%;
    padding: 0%;
}

#generalitat{
    text-align: right;
    margin-right: 2%;
}
/* cursos  */

  .accordion {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 60%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dedede;
    border-radius: 8px;
    margin:0 auto;
  }
  /*Contenedor común plegar/desplegar*/
  .accordion-toggle,
  .accordion-header{
    font-size: 15px;
    width: 100%;
    height: 3em;
    margin: 0;
    line-height: 3em;
    cursor: pointer;
  }
  /*El botón que pliega/despliega*/
  .accordion-toggle {
    opacity: 0;
    background-color: transparent;
    z-index: 1;
    margin-bottom: 2px;
  }
  /*Bloque para el título*/
  .accordion-header{
    background-color: lightblue;
    color: white;
    position: relative;
    margin-top: -3em;
    padding-left: 10px
  }
  
  /*Bloque replegable con el contenido */
  .accordion-content {
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #7f8787;
    overflow: auto;
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: -250px;
    padding: 20px;
    transition: margin 0.3s ease 0.1s;
    }
  .accordion-toggle:checked + .accordion-header + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
  }
  .accordion-header::before,
  .accordion-toggle:checked + .accordion-header::before {
    content: '+';
    display: inline-block;
    text-align: center;
    width: 1em;
    font-size: 1.em;
  }
  .accordion-toggle:checked + .accordion-header::before {
    content:'-';
  }
  
  .accordion-toggle:hover + .accordion-header{
    background-color: #f7f1f1;
  }
  .accordion-toggle:checked + .accordion-header {
    background-color: #fff;
  }

#botonPulsado{
    width: 100%;
    margin: 1em;
}
#botonPulsado button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-decoration: none;
}
#botonPulsado button:hover{
    background-color: lightblue;
    color: white;
    text-decoration: none;
}
#botonPulsado a{
    text-decoration: none;
}
  /* Centro */
.descrip{
    position: absolute;
    margin-left: 15%;
    width: 70%;
    text-align: center;
}

.ubicacion{
    position: absolute;
    margin-top: 7%;
    margin-left: 12%;
    width: 80%;
}

#centro{
    width: 45%;
    height: 45%;
    margin-right: 5%;
}

iframe#mapa{
    margin-top: 0%;
    width: 25rem;
    height: 14.8rem;
    border-radius: 20px;
}
.tableCentro{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    padding: 0 10em;
    text-align: center;
}
td#centroTexto{
    text-align: justify;
    padding: 0 0.8em;
}
td#centroTexto>p{
    border-style: double;
    padding: 1em;
}
.cabecerasTituloE{
    text-align: center;
    font-size: 25px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: solid 3px lightblue;
    margin: 1.5% 15%;
    width: 70%;
}
.cabecerasTituloE:hover{
    background-color: lightblue;
    color: black;
}
#galeriaIMG:hover{
    color: black;
}

/* Datos de contacto */
#datos{
    width: 40%;
    margin-top: 5%;
    margin-left: 20%;
}

.icono{
    width: 40px;
    margin-left: 3%;
    margin-right: 4%;
}

#datos p{
    vertical-align: middle;
}

#social{
    width: 35%;
    margin-top: 5%;
    margin-left: 3%;
}
/* Formulario de contacto */
#formulario{
    position: absolute;
    margin-top: -25%;
    margin-left: 50%;
}

form {
    width: 500px;
    margin: 5% 10%;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  label {
    display: block;
    text-align: left;
    /*margin-bottom: 10px;*/
    font-size: 18px;
  }

  input,
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  input[type="submit"] {
    background-color: lightblue;
    color: darkblue;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color:darkblue;
    color: lightblue;
  }

  /** GALERIA VIDEO */

  body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 0
}

.card .card-body {
    padding: 1.25rem 1.75rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card .card-title {
    color: #000000;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 500
}

p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem
}

.lightGallery {
    width: 100%;
    margin: 0
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.lightGallery .image-tile {
    position: relative;
    margin-bottom: 30px;
    margin-right: 10px
}

.lightGallery .image-tile .demo-gallery-poster {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.lightGallery .image-tile .demo-gallery-poster img {
   display: block;
   margin: auto;
   width: 40%;
   max-width: 60px;
   min-width: 20px;
   margin-top:80px;
}

/* HORARIOS */

table.horarios{
    margin-left: auto;
    margin-right: auto;
    padding: 2em 10em;
}
th{
    background-color: lightcyan;
}
.nada{
    background-color: lightcoral;
    border-style: solid;
}
.laCelda{

    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

.concursoVideos{

    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
}
.concursoVideos td{
    padding: 1em;
    border-top-style: solid;
}
.textoGanadores{
    border-style: solid;
    padding: 10px;
    width: 340px;
}
.concursoVideos tr{
    padding: 2em 0em;

}
/*galeria videos*/
.model{
    display: none;
}
.model:target{
    position:fixed;
    display: block;
    background: lightblue;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.model h3{
    color: black;
    font-size: 32px;
    text-align: center;
    margin: 30px 0;
}

.mVideo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mVideo a {
    color: black;
    font-size: 3em;
    text-decoration: none;
    margin: 1em;
    border-style: solid;
    border-radius: 50%;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
.mVideo a:hover {
    background-color: black;
    color: white;
}

.mVideo a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.mVideo video{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 5px inset rgb(7, 7, 122);
    border-style: solid;
    box-sizing: border-box;
}

.xVideo{
    display: block;
    background-color: black;
    width: 30px;
    height: 30px;
    margin: 30px auto;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-top: 3px;
}
/* Fotos de la galeria */

#galeria{
    background: lightblue;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 2em;
    color: black
}

.galeriaIMG{
    margin: auto;
    list-style: none;
    padding: 2em;
    justify-content: space-around;
}

.mIMG{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mIMG img{
    width: 640px;
    height: 100%;
    max-width: 100%;
    border: 5px inset black;
    box-sizing: border-box;
}
.mIMG a {
    color: black;
    font-size: 3em;
    text-decoration: none;
    margin: 1em;
    border-style: solid;
    border-radius: 50%;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
.mIMG a:hover {
    background-color: black;
    color: white;
}

.mIMG a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.ximg{
    display: block;
    background: white;
    width: 30px;
    height: 30px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: black;
    padding: 3px;
    line-height: 25px;
}

.ximg:hover{
    background-color: black;
    color: white;
}