*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/**BARRA DE NAVEGACION
*/
nav{
    width: 100%;
    margin: 0;
    background-color: rgb(49, 49, 234);
    font-size: 20px;
    margin-top: 0;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: black;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: black;
    z-index: 4;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: blue;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px;
}

#carrusel{
    height: 30em;
    overflow: hidden;
    z-index: 1;

}
.itemCarrusel{
    height: 30em;
    position: relative; 
}

.tarjetasCarrusel{
    background-color: aqua;
    height: 100%;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.icoCarr{
    height: 3em;
    width: 3em;
}
a{
    text-decoration: none;
}
.imgcarr{
    width:100%;
    height:auto;

}
#c1{
    position: relative;
    left: 30%;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: lightblue;
    margin: 10px;
}
#c2{
    position: relative;
    left: 50%;
    width: 2em;
    height: 2em;
    background: lightblue;
    margin: 10px;
    border-radius: 50%;
}
#c3{
    position: relative;
    left: 70%;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: lightblue;
    margin: 10px;
}
.circulos{
    display: flex;
    justify-content: center;
}
footer{
    width: 100%;
    height: 10em;
    background-color: black;
    color: white;
}
p.autores{
    width: 33%;
    height: 100%;
    padding: 1em;
}