*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
h1{
    font-size: 4em;
    text-align: center;
}
h3{
    padding-top: 5px;
}

/**
BARRA DE NAVEGACION
*/
nav{
    width: 100%;
    margin: 0;
    background-color: lightblue;
    font-size: 20px;
}
.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 20px 20px;
    color: black;
    text-decoration: none;
}
#logo{
    padding: 0px;
    display: flex;
    justify-content: center;
}
#nombre{
    font-size: 25px;
    font-weight: bold;
}
.menu-horizontal > li:hover{
    background-color: lightcoral;
    text-decoration: underline;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: lightblue;
    z-index: 4;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: lightcoral;
}
.menu-vertical li a{
    display: block;
    color: black;
    padding: 15px 15px;
}
/*
CARRUSEL
*/
#carrusel{
    height: 25em;
    overflow: hidden;
    z-index: 1;

}
.itemCarrusel{
    height: 25em;
    position:relative;
    text-align: center;
}

.tarjetasCarrusel{
    background-color: lightblue;
    height: 100%;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.icoCarr{
    height: 3em;
    width: 3em;
}
a{
    text-decoration: none;
}
.imgcarr{
    width:80%;
    height:auto;
}
#c1{
    position: relative;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background: lightblue;
    margin: 10px;
}
#c2{
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background: lightblue;
    margin: 10px;
    border-radius: 50%;
}
#c3{
    position: relative;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background: lightblue;
    margin: 10px;
}
.circulos{
    display: flex;
    justify-content: center;
}
footer{
    width: 100%;
    height: 5em;
    background-color: black;
    color: white;
}
p.autores{
    width: 100%;
    height: 100%;
    padding: 1em;
}

.logoGene{
    height: 4em;
    width: auto;
    position: absolute;
    margin-top: -1.5em;
    right: 0;
}
#sectionIndex{
    width: 100%;
    height: 20em;
    position: relative;
    text-align: center;
}
#tablon{
    background-color: lightblue;
}
#tarjetaIndex1{
    height: 10em;
    width: 35%;
    /*background-color: lightblue;*/
    position: absolute;
    left: 12%;
    border-radius: 15px;
    border: 3px;
    border-style:double;
}
#tarjetaIndex2{
    height: 10em;
    width: 35%;
    /*background-color: lightblue;*/
    position: absolute;
    right: 12%;
    border-radius: 15px;
    border: 3px;
    border-style:double;
}
#tarjetaIndex1 > p{
    text-align: justify;
    margin: 1em;
}
/*
PAGINA DE CURSOS
*/

div.cursos{
    width: 80%;
    height: 50em;
    position: absolute;
    left: 10%;
    align-items: center;
    background-color: lightcyan;
}
div.ingles{
    float: left;
    width: 15em;
    height: 20em;
    background-color: lightcoral;
    border-radius: 5%;
    margin: 1em;
}
div.castellano{
    float: left;
    width: 15em;
    height: 20em;
    background-color: lightcoral;
    border-radius: 5%;
    margin: 1em;
}
div.valenciano{
    float: left;
    width: 15em;
    height: 20em;
    background-color: lightcoral;
    border-radius: 5%;
    margin: 1em;
}
div.aleman{
    float: left;
    width: 15em;
    height: 20em;
    background-color: lightcoral;
    border-radius: 5%;
    margin: 1em;
}
div.chino{
    float: left;
    width: 15em;
    height: 20em;
    background-color: lightcoral;
    border-radius: 5%;
    margin: 1em;
}
div.japones{
    float: left;
    width: 15em;
    height: 20em;
    background-color: lightcoral;
    border-radius: 5%;
    margin: 1em;
}

div.euskera{
    float: left;
    width: 15em;
    height: 20em;
    background-color: lightcoral;
    border-radius: 5%;
    margin: 1em;
}
td.cursos1{
    height: 4em;
    width: 20em;
    text-align: center;
    font-size: 3em;
}
ul.cursos{
    list-style: none;
    justify-content: space-around;
}

/**Metodologia */
#titmetod{
    text-align: center;
    font-size: 25px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: solid 3px lightblue;
    margin: 1.5% 15%;
    width: 70%;
}

article.metod{
    width: 50%;
    height: 200px;
    margin-left: 25%;
    margin-bottom: 20px;
    border: #ccc solid 1px;
    background-color: lightblue;
}

img.imgmetod{
    width: 150px;
    height: 150px;
    float: left;
    margin: 25px;
}

article.metod > h3{
    margin: 25px;
    margin-bottom: 10px;
}

article.metod > p{
    margin: 25px;
    margin-top: 10px;
}

div.imgcontainer{
    text-align: center;
}

div.prologo{
    width: 34%;
    position: relative;
    top: 15px;
    margin: auto;
    text-align: justify;
    line-height: 20px;
}

/**Mapa de situacion */
iframe{
    position: relative;
    margin: auto;
    padding: 20px;
}

/** Formulario de contacto */
form {
    position: relative;
    width: 500px;
    top: 30px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  label {
    display: block;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  input[type="submit"] {
    background-color: lightblue;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: lightcoral;
  }

  /**
  curdos
  */

  .accordion {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dedede;
    border-radius: 8px;
    margin:0 auto;
  }
  /*Contenedor común plegar/desplegar*/
  .accordion-toggle,
  .accordion-header{
    font-size: 15px;
    width: 100%;
    height: 3em;
    margin: 0;
    line-height: 3em;
    cursor: pointer;
  }
  /*El botón que pliega/despliega*/
  .accordion-toggle {
    opacity: 0;
    background-color: transparent;
    z-index: 1;
    margin-bottom: 2px;
  }
  /*Bloque para el título*/
  .accordion-header{
    background-color: #ffffff;
    color: #7f8787;
    position: relative;
    margin-top: -3em;
    padding-left: 10px
  }
  
  /*Bloque replegable con el contenido */
  .accordion-content {
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #7f8787;
    overflow: auto;
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: -250px;
    padding: 20px;
    transition: margin 0.3s ease 0.1s;
    }
  .accordion-toggle:checked + .accordion-header + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
  }
  .accordion-header::before,
  .accordion-toggle:checked + .accordion-header::before {
    content: '+';
    display: inline-block;
    text-align: center;
    width: 1em;
    font-size: 1.em;
  }
  .accordion-toggle:checked + .accordion-header::before {
    content:'-';
  }
  
  .accordion-toggle:hover + .accordion-header{
    background-color: #f7f1f1;
  }
  .accordion-toggle:checked + .accordion-header {
    background-color: #fff;
  }